* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  margin: 0 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.todo-container {
  background-color: #fff;
  min-width: 270px;
  max-width: 600px;
  display: block;
  margin: 50px auto;
  border-radius: 20px;
  padding: 2rem;
}

h1 {
  padding-bottom: 10px;
}

/* add to do taks section  */

.add-task {
  margin: 30px 0;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.add-task input {
  margin-left: 10px;
  width: 75%;
  padding: 0.3rem 7px;
  border-radius: 5px;
}
.add-task input:focus {
  margin-left: 10px;
  border: #2a79c8 solid 2px;
  outline: none;
  padding: 0.3rem 7px;
}
.add-task button {
  width: 25%;
  color: white;
  background-color: #2a79c8;
  border: none;
  border-radius: 5px;
  padding: 0 0.3rem;
}

/* to do lists part  */
.tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 1rem 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.tasks:hover {
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

.tasks p {
  font-size: 1.07rem;
  flex: 1;
}
.lists-button {
  height: 100%;
  display: flex;
  gap: 5px;
}
.btn {
  padding: 0.4rem 0.5rem;
  border-radius: 15px;
  border: none;
  background-color: lightgray;
}
.completed-btn {
  color: green;
}
.delete-btn {
  color: red;
}

/* todo list footer section  */

.todo-footer {
  display: flex;
  gap: 10px;
  margin: 15px 0;
  padding: 0 1rem;
}
.total-p {
  flex: 1;
}

.clear-btn {
  margin-top: -2px;
  background-color: red;
  color: white;
  font-weight: bold;
}

.todo-paras p {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.572);
}

.none {
    display: none;
}
.no-todo{
    display: block;
    font-size: 2rem;
    text-align: center;
    margin-bottom:20px ;
}