body {
  box-sizing: border-box;
  background-color: #ebeaea;
}
* {
  margin: 0;
  padding: 0;
}

main {
  padding: 1rem;
}
h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  text-transform: capitalize;
}
h2,
h1 {
  text-align: center;
  padding: 0.3rem 0;
  display: block;
}
.profile {
  max-width: 1000px;
  margin: 0 auto;
}

.flex-conatiner > div {
  border: solid 2px;
  border-radius: 10px;
  width: 250px;
  display: block;
  background-color: #8ddca4;
}
.flex-conatiner {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  place-items: center;
}
img {
  border-radius: 50%;
  height: 30vw;
  display: block;
  margin: auto;
  margin-bottom: 50px;
  max-height: 200px;
}

.profile {
  display: flex;
  flex-direction: column;
}
.profile p {
  padding: 0 2rem;
  line-height: 1.3rem;
  font-size: 1.3rem;
  margin-bottom: 30px;
}
.interst {
  display: inline;
  font-size: 2rem;
  color: #049772;
  text-transform: lowercase;
}

.skill {
  display: inline-block;
  font-size: 3rem;
  border-radius: 5px;
  padding: 1rem 3rem;
  color: white;
}

form {
  display: block;
  width: 90%;
  margin: 30px auto;
  text-align: center;

}

input {
  width: 100%;
  margin-bottom: 25px;
  padding: 0.7rem 0.5rem;
  border-radius: 10px;
  border: 1px solid rgb(140, 140, 140);
  font: 1.2rem bold;
}

input:focus {
  outline: 2px solid rgb(107, 166, 255);
}

label {
  font-size: 1.5rem;
}

.form-section {
  background-color: rgb(233, 233, 233);
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
  border-radius: 30px;
}

textarea {
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(140, 140, 140);
  font: 1.2rem bold;
}

textarea:focus {
  outline: none;
  border: 2px solid rgb(107, 166, 255);
}

button {
  padding: 0.6rem;
  width: 40%;
  display: inline-block;
  margin: 0 auto;
  font-size: 1.5rem;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 18px;

}
.inline {
  display: inline;
  padding-right: 2px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  text-align: center;
  color: white;
  height: 85px;
}
footer p {
  margin: auto 0;
}

@media (min-width: 480px) {
  .flex-conatiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    gap: 1rem;
  }

  .flex-conatiner > div {
    width: auto;
  }
  .profile {
    flex-direction: row;
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .flex-conatiner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    gap: 1rem;
  }
  #remove {
    display: none;
  }

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .flex-conatiner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    gap: 1rem;
  }
  #remove {
    display: block;
  }
}
